@import "tailwindcss";

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html,
body{
  width: 100%;
  overflow-x: hidden;
  font-family: Arial, Helvetica, sans-serif;
}
:root{
  --primary: #FF5FA2;
  --secondary: #FFD6E7;
  --background: #FFF7FA;
  --dark: #2D1B24;
  --gray: #6B7280;
}